<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <h2>Create a Basketball Team!</h2>
 <body>

 <form method="POST" action="/team">
      <label>Team Name
      <input type="text" name="name"></label>

      <label for ="name">Coach</label>
      <input type="text" name="coach">
      <label for ="name">Point Guard</label>
      <input type="text" name="pg">
      <label for ="name">Shooting Guard</label>
      <input type="text" name="sg">
      <label for ="name">Power Forward</label>
      <input type="text" name="pf">
      <label for ="name">Small Forward</label>
      <input type="text" name="sf">
      <label for ="name">Center</label>
      <input type="text" name="c">
      <label for ="name">Team Name</label>
      <input type="submit" id="Submit">
 </body>
</html>


